/**
 * 公用的css样式
 */
.flex {
  display: flex;
  align-items: center;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-col {
  flex-direction: column;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.cursorP {
  cursor: pointer;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.px-4 {
  padding: 0 4px;
}
.px-8 {
  padding: 0 8px;
}
.px-10 {
  padding: 0 10px;
}
.px-12 {
  padding: 0 12px;
}
.px-16 {
  padding: 0 16px;
}
.pl-4 {
  padding-left: 4px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-12 {
  padding-left: 12px;
}
.pl-16 {
  padding-left: 16px;
}
.pr-4 {
  padding-right: 4px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-12 {
  padding-right: 12px;
}
.pr-16 {
  padding-right: 16px;
}
.pt-4 {
  padding-top: 4px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-16 {
  padding-bottom: 16px;
}

.m-2 {
  margin: 2px;
}
.mx-4 {
  margin: 0 4px;
}
.mx-8 {
  margin: 0 8px;
}
.mx-10 {
  margin: 0 10px;
}
.mx-12 {
  margin: 0 12px;
}
.mx-16 {
  margin: 0 16px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-16 {
  margin-left: 16px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}

/** 自定义类名 */
.title-after {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: ' ';
    width: 75%;
    display: block;
    border: none;
    height: 10px;
    background-color: #228ae6;
    left: 0;
    bottom: -4px;
    z-index: -1;
    border-radius: 3px;
  }
}

.box-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 0 15px;
  box-sizing: border-box;

  > .container {
    max-width: var(--container-width, 940px);
    width: 100%;
  }
}

/** 进度条颜色 */
#nprogress {
  position: relative;
  z-index: 99999;

  .bar {
    height: 5px !important;
  }
}

/**
 * 页面容器的css 类名
 * 以查询，内容上下排列
 */
.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--page-gap);
  box-sizing: border-box;
  overflow: auto;

  /** 查询体 */
  > .page-query-box {
    height: fit-content;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;

    .el-form--inline .el-form-item {
      width: 100%;
    }
  }

  /** 内容体 */
  > .page-content-box {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    box-sizing: border-box;
    flex: 1 0 0;
    height: 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    > .top-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 0 10px 0;
    }
    > .table-container {
      flex: 1 1 auto;
      height: 0;
      overflow: auto;
    }
  }

  /** 分页 */
  .pagination-container {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
  }
}

.table-column-modal-color {
  color: var(--theme-color);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wellPanel {
	background: linear-gradient(0deg, #1e202a, #0d1013);
}

.wellPanel,
.wellPanel-highlight {
	min-width: 90px;
	min-height: 35px;
	position: absolute;
	left: 16px;
	bottom: 31px;
	cursor: default;
	opacity: 0.96;
	border: 1px solid #14171c;
	box-shadow: 0 2px 21px 0 rgba(33, 34, 39, 0.55);
	border-radius: 4px;
	box-sizing: border-box;
}

.wellPanel-highlight {
	background: linear-gradient(0deg, #2ec9e8, #147bc3);
}

.wellPanel-highlight:before,
.wellPanel:before {
	content: '';
	width: calc(100% + 22px);
	height: 39px;
	position: absolute;
	bottom: -39px;
	left: -22px;
	background: url('@/assets/LMap-imgs/leading-line.png') no-repeat 0 0;
}

.wellPanel-text {
	width: 100%;
	height: 100%;
	min-height: 33px;
	text-align: center;
	padding: 5px 5px 0 5px;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	border: 1px solid hsla(0, 0%, 100%, 0.30980392156862746);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
}